
#app {
    display :flex;
}

div {
    display: flex;
}

.App-title {

    padding: 8px 16px 16px;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: "Google Sans",sans-serif;
    font-size: 22px;
    font-weight: 400;
}


html {
    -webkit-font-smoothing: antialiased;
}

body {
  
    font-family: 'Roboto','Helvetica-neue',sans-serif;
    font-size: 14px;
    
}

.next {
    margin-top:167px;
    font-size: 40px;
    height: 64px;
    width: 32px;
    color:rgba(0,0,0.54);
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    font-family: 'Material Icons';
    direction: ltr;
    cursor: pointer;
}

a:hover{
  
    color: #4285f4;
 
    
}

/*.App-product-carousel-container {
    display: block;
    color: rgba(0,0,0.87);
    font-family: 'Roboto','Helvetica-neue',sans-serif;
    font-size: 14px;
}

.App-product-carousel-column {
    flex-direction: row;
    display: flex;
}*/