.Items-productCard {
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    padding: 0 16px;
    color: inherit;
    text-decoration: none;
    
}
.Items-layoutColumn {

 /*   display: flex;
    flex-direction: row;
    flex: 1 0 auto;*/
}

.Items-product-info-container {
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}

.Items-price-column {
    font-size: 1.43em;
    font-weight: bold;
    /*line-height: 1;*/
    margin-right: 8px;
}

.Items-subtitle {
    color: rgba(0,0,0.54);
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #0D904F;
  
}

.checked {
    color: orange;
}


div {
    display: block;
}

.Items-subtitle-days {
    background-color: #fafafa;
    overflow-wrap: break-word;
    color: rgba(0,0,0,0.54);
    font-size: 12px;
    line-height: 16px;
}

.Items-product-title {
    color: rgba(0,0,0,0.54);
    -webkit-tap-highlight-color: transparent;
    line-height: 1.43em;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    cursor: pointer;
    font-family: 'Roboto','Helvetica-neue',sans-serif;
    font-size: 14px;
    flex: 1 0 auto;
    position: relative;
    padding: 0 14px;
}

.Items-review-Count {
    color: rgba(0,0,0.54);
    font-size: 12px;
    margin-left: 3px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.merchantName {
    color: rgba(0,0,0.54);
    font-size: 14px;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    -webkit-tap-highlight-color: transparent;

}

.ButtonStyling {
    color: #4285f4;
    outline: 1px solid #e0e0e0;
    border: 0;
    padding: 60;
    box-sizing: border-box;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 80px;
    line-height: 36px;
    border-radius: 2px;
    overflow: visible;
    max-width: 75%;
    background: transparent;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    flex: 1 1 10%;
    float:left;
    margin-right:5px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}

body {
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto','Helvetica-neue',sans-serif;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
}

html {
    
    -webkit-font-smoothing: antialiased;
}


button:hover { 
    background-color: #d9e5f7;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.stars-inner {
  width: 0;
}
/*
.ButtonStyling {
    color: #4285f4;
    outline: 1px solid #e0e0e0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 50px;
    line-height: 36px;
    border-radius: 2px;
    overflow: visible;
    max-width: 100%;
    background: transparent;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
     flex: 1 1 10%;
    float:left;
    margin-right:5px;
    font: 400 13.3333px Arial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}*/

